@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, button, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:active {
  outline: none;
}

a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Inter Light";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Inter-Light.eot");
  src: local("Inter Light"), url("../../fonts/Inter-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Light.woff2") format("woff2"), url("../../fonts/Inter-Light.woff") format("woff"), url("../../fonts/Inter-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Inter-Regular.eot");
  src: local("Inter Regular"), url("../../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Regular.woff2") format("woff2"), url("../../fonts/Inter-Regular.woff") format("woff"), url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Inter-Medium.eot");
  src: local("Inter Medium"), url("../../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Medium.woff2") format("woff2"), url("../../fonts/Inter-Medium.woff") format("woff"), url("../../fonts/Inter-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Inter-SemiBold.eot");
  src: local("Inter SemiBold"), url("../../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-SemiBold.woff2") format("woff2"), url("../../fonts/Inter-SemiBold.woff") format("woff"), url("../../fonts/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Inter-Bold.eot");
  src: local("Inter Bold"), url("../../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter-Bold.woff2") format("woff2"), url("../../fonts/Inter-Bold.woff") format("woff"), url("../../fonts/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Philosopher Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Philosopher-Bold.eot");
  src: local("Philosopher Bold"), url("../../fonts/Philosopher-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Bold.woff2") format("woff2"), url("../../fonts/Philosopher-Bold.woff") format("woff"), url("../../fonts/Philosopher-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Philosopher Italic";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/Philosopher-Italic.eot");
  src: local("Philosopher Italic"), url("../../fonts/Philosopher-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Italic.woff2") format("woff2"), url("../../fonts/Philosopher-Italic.woff") format("woff"), url("../../fonts/Philosopher-Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Philosopher";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Philosopher-Regular.eot");
  src: local("Philosopher"), url("../../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Philosopher-Regular.woff2") format("woff2"), url("../../fonts/Philosopher-Regular.woff") format("woff"), url("../../fonts/Philosopher-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "VelaSans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/VelaSans-Regular.eot");
  src: local("VelaSans"), url("../../fonts/VelaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/VelaSans-Regular.woff2") format("woff2"), url("../../fonts/VelaSans-Regular.woff") format("woff"), url("../../fonts/VelaSans-Regular.ttf") format("truetype");
  font-display: swap;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #687557;
}

::selection {
  background-color: #687557;
}

::-moz-placeholder {
  color: #687557;
  font-size: 1.5rem;
}

::placeholder {
  color: #687557;
  font-size: 1.5rem;
}

body {
  background-color: #F3F1EC;
  font-size: 1.6rem;
  color: #4B4B4B;
}

main {
  font-family: "Philosopher Bold", serif;
}
main button {
  border: solid #687557 1px;
  padding: 20px 0;
  width: 100%;
  align-self: center;
  justify-self: center;
  transition: background-color, color, border-color, box-shadow, transform 0.15s;
}
main button:hover {
  background-color: #444237;
  color: #687557;
  border-color: #444237;
  box-shadow: 5px 5px black;
  transform: rotate(3deg) scale(1.08);
}
main button:active {
  color: #FFF;
}
@media screen and (min-width: 959px) {
  main button {
    width: 560px;
  }
}

a:hover {
  -webkit-text-decoration: underline #687557;
          text-decoration: underline #687557;
  color: #687557;
  transition: color 0.15s, -webkit-text-decoration;
  transition: text-decoration, color 0.15s;
  transition: text-decoration, color 0.15s, -webkit-text-decoration;
}

a:active {
  color: #4B4B4B;
  -webkit-text-decoration: underline #4B4B4B;
          text-decoration: underline #4B4B4B;
}

button {
  font-family: "Inter", sans-serif;
  line-height: 120%;
  border-radius: 20px;
  color: #FFF;
  background: #687557;
  letter-spacing: -0.32px;
}
@media screen and (min-width: 959px) {
  button {
    font-size: 1.8rem;
  }
}

h1 {
  font-size: 3.4rem;
  letter-spacing: -2.04px;
}
@media screen and (min-width: 959px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Philosopher Italic", serif;
  font-size: 3.8rem;
}
@media screen and (min-width: 959px) {
  h2 {
    font-size: 5.4rem;
  }
}

input {
  border-radius: 60px;
  padding: 16px;
}

textarea {
  resize: none;
}

main {
  margin-inline: 45px;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}
@media screen and (min-width: 1159px) {
  main {
    margin-inline: auto;
  }
}

.header {
  overflow-x: hidden;
  width: 100%;
  padding: 8px 0;
  color: #FFF;
  background-color: #687557;
}

.header__wrapper {
  margin-inline: 45px;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1159px) {
  .header__wrapper {
    margin-inline: auto;
  }
}

.header__link {
  font-family: "Philosopher Bold", serif;
  color: #FFF;
  font-size: 3rem;
}
@media screen and (min-width: 959px) {
  .header__link {
    font-size: 5.25rem;
  }
}
.header__link:hover {
  text-decoration: none;
  color: #F3F1EC;
}

.header__btn {
  border-radius: 60px;
  padding: 14.5px 13px;
}

@media screen and (min-width: 959px) {
  .header__burger {
    width: 30px;
  }
}

/*----------------------------------------------------------------*/
.registration {
  padding-top: 60px;
}

.registration__title {
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  width: 400px;
  margin: 0 auto;
  color: #fff;
  background-color: #687557;
  padding: 15px;
  border-radius: 15px;
}

.registration__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 auto;
}

.registration__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__list {
  list-style: none;
  background: #687557;
  padding: 25px;
  color: white;
  width: 300px;
  border-radius: 15px;
}

.registration__span {
  color: #fff;
  font-size: 1rem;
}

.registration__input,
.registration__select {
  background-color: #ACB78E;
  border: 1px solid #F5F5F5;
  color: #FFFFFF;
  margin-top: 12px;
  padding-left: 11px;
  padding-top: 13px;
  padding-bottom: 14px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.registration__input:hover,
.registration__select:hover {
  border: 1px solid white;
  color: white;
}

.registration__label {
  background: #687557;
  width: 300px;
  padding: 25px;
  position: relative;
  color: white;
  border-radius: 15px;
  margin-top: 10px;
}

.button__wrapper {
  background: #687557;
  padding: 30px;
  position: relative;
  color: white;
  border-radius: 15px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__button {
  margin-top: 10px;
  background: none;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 150px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: left;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.registration__image {
  width: 100px;
  position: absolute;
}
/*----------------------------------------------------------------*/
.footer {
  overflow-x: hidden;
  position: sticky;
  top: 100vh;
}

.footer__title {
  margin-inline: 45px;
  max-width: 1160px;
  margin-top: 90px;
}
@media screen and (min-width: 1159px) {
  .footer__title {
    margin-inline: auto;
  }
}

.footer__info {
  position: relative;
  margin-top: 40px;
}

.footer__map {
  width: 100%;
}

.footer__background {
  background: #687557;
  padding: 34px 0 73px 0;
}

.footer__list {
  margin-inline: 45px;
  max-width: 1160px;
  margin-inline: 45px;
  font-family: "Philosopher", serif;
  color: #FFF;
}
@media screen and (min-width: 1159px) {
  .footer__list {
    margin-inline: auto;
  }
}
@media screen and (min-width: 1159px) {
  .footer__list {
    font-size: 2rem;
  }
}

.footer__item {
  line-height: 180%;
}
.footer__item > a:hover {
  color: #4B4B4B;
}
.footer__item--logo {
  display: inline-block;
  font-size: 4rem;
  font-family: "Philosopher Bold";
}
.footer__item--logo:hover {
  transform: scale(1.5) rotate(30deg) skew(10deg);
  transition: 0.3s;
}
.footer__item--last {
  margin-top: 16px;
}/*# sourceMappingURL=form.css.map */