@use '../utils/variables';
@use '../utils/mixins';

.footer {
    overflow-x: hidden;
    
}

.footer__title {
    @include mixins.wrapper;
    margin-top: 90px;
}

.footer__info {
    position: relative;
    margin-top: 40px;
}

.footer__map {
    width: 100%;
}

.footer__background {
    background: variables.$main-color;
    padding: 34px 0 73px 0;

    @media screen and (min-width: 1159px) {
        @include mixins.wrapper;
        padding: 35px 35px 73px 35px;
        position: absolute;
        width: 618px;
        height: 513px;
        top: 50%;
        transform: translatey(-50%);
    }

    @media screen and (min-width: 1530px) {
        width: 618px;
        top: 15%;
        left:25%;
        transform: translatex(-50%);
    }
}

.footer__list {
    margin-inline: 45px;
    font-family: 'Philosopher', serif;
    color: variables.$subtext-color;

    @media screen and (min-width: 1159px) {
        font-size: 2rem;
        margin-inline: 0;
    }
}

.footer__item {
    line-height: 180%;
}

.footer__item--last {
    margin-top: 16px;
}
